$colors: (
  primary: (
    100: hsl(0, 23%, 77%),
    200: hsl(0, 23%, 67%),
    300: hsl(0, 23%, 57%),
    400: hsl(0, 23%, 47%),
    500: hsl(0, 23%, 37%),
    600: hsl(0, 23%, 27%),
    700: hsl(0, 23%, 17%),
    800: hsl(0, 27%, 17%),
    900: hsl(0, 27%, 17%),
  ),
  secondary: (
    100: hsl(14, 15%, 70%),
    200: hsl(14, 15%, 49%),
    300: hsl(14, 32%, 30%),
    400: hsl(14, 35%, 30%),
    500: hsl(14, 40%, 30%),
    600: hsl(14, 43%, 20%),
    700: hsl(14, 45%, 17%),
    800: hsl(14, 49%, 12%),
    900: hsl(14, 53%, 9%),
  ),
  accent: (
    100: hsl(200, 5%, 24%),
    200: hsl(200, 5%, 50%),
    300: hsl(200, 5%, 60%),
    400: hsl(200, 5%, 70%),
    500: hsl(200, 5%, 80%),
    600: hsl(200, 5%, 90%),
    700: hsl(200, 5%, 90%),
    800: hsl(200, 5%, 90%),
    900: hsl(200, 5%, 90%),
  ),
  grays: (
    100: hsl(210, 17%, 98%),
    200: hsl(210, 16%, 93%),
    300: hsl(210, 14%, 89%),
    400: hsl(210, 14%, 83%),
    500: hsl(210, 11%, 71%),
    600: hsl(208, 7%, 46%),
    700: hsl(210, 9%, 31%),
    800: hsl(210, 10%, 23%),
    900: hsl(210, 11%, 15%),
  ),
);

$color: (
  blue: #0d6efd,
  indigo: #6610f2,
  purple: #6f42c1,
  pink: #d63384,
  red: #dc3545,
  orange: #fd7e14,
  yellow: #ffc107,
  green: #198754,
  teal: #20c997,
  cyan: #0dcaf0,
  white: #fff,
  black: #000,
);
