@use '../abstracts' as abs;

@each $color, $shades in abs.$colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: var(--clr-#{$color}-#{$shade});
    }
  }
}

@each $color, $shades in abs.$colors {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--clr-#{$color}-#{$shade});
    }
  }
}

body {
  background: var(--clr-primary-900);
}
