$colors: (
  primary: (
    100: hsl(26, 9%, 12%),
    200: hsl(26, 9%, 22%),
    300: hsl(26, 9%, 32%),
    400: hsl(26, 9%, 42%),
    500: hsl(26, 9%, 52%),
    600: hsl(26, 9%, 62%),
    700: hsl(26, 9%, 72%),
    800: hsl(26, 9%, 82%),
    900: hsl(26, 9%, 92%),
  ),
  secondary: (
    100: hsl(199, 100%, 47%),
    200: hsl(199, 100%, 57%),
    300: hsl(199, 100%, 67%),
    400: hsl(199, 100%, 77%),
    500: hsl(199, 100%, 87%),
    600: hsl(199, 100%, 97%),
  ),
  accent: (
    100: hsl(200, 5%, 24%),
    200: hsl(200, 5%, 50%),
    300: hsl(200, 5%, 60%),
    400: hsl(200, 5%, 70%),
    500: hsl(200, 5%, 80%),
    600: hsl(200, 5%, 90%),
  ),
);
