---
layout: layouts/layout.njk
title: Welcome to my website
---

<main class="bg-primary-700 text-white">
  <div class="container container--flex">
    <div class="main__container">
      <h1 class="text-400 text-gray">
        Hi, I'm Hriteek Bista working as
        <span class="text-500 text-white">Javascript Developer.</span>
      </h1>
    </div>
    <div class="img__container">
      <img src={{ '/images/developer.svg' }} alt="developer thinking">
    </div>
  </div>
</main>
<section class="section__skills">
  <h2>SKILLS</h2>
  <div class="container">
    {%- for skill in skills -%}
    <div class="section__item">
      <div class="icon__container">
        <img src={{ '/images' + skill.image }} alt="html5 logo" />
      </div>
      <h3>{{ skill.name }}</h3>
    </div>
    {%- endfor -%}
  </div>
</section>
<section class="section__link">
  <div class="container">
    {%- for link in socialLinks -%}
    <div class="section__item">
      <div class="icon__container">
        <a href={{ '' + link.link }} target="_blank"
          ><img src={{ '/images' + link.image }} alt={{ link.name }}/></a
        >
      </div>
      <h3>{{ link.name }}</h3>
    </div>
    {%- endfor -%}
  </div>
</section>
