---
layout: layouts/layout.njk
title: Welcome to my website
---

<main>Hero Section with background image</main>
<section>section that contains the skill sets</section>

<section>links to different social media and a contact form</section>
