---
layout: layouts/layout.njk
title: Welcome to my website
---

<main class="bg-primary-700 text-white">
  <div class="container container--flex">
    <div class="main__container">
      <h1>
        Hi, I'm <span class="text-secondary-100">Hriteek Bista</span> working as
        <span class="text-secondary-200">Javascript Developer</span>
      </h1>
    </div>
    <div class="img__container">
      <img src={{ '/images/developer.svg' }} alt="developer thinking">
    </div>
  </div>
</main>
<section class="section__skills">
  <h2>SKILLS</h2>
  <div class="container">
    <div class="section__item">
      <div class="icon__container">
        <img src={{ '/images/html-5.svg' }} alt="html5 logo"/>
      </div>
      <h3>HTML</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <img src={{ '/images/css3.svg' }} alt="css3 logo"/>
      </div>
      <h3>CSS</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <img src={{ '/images/javascript.svg' }} alt="javascript logo"/>
      </div>
      <h3>JavaScript</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <img src={{ '/images/nodejs.svg' }} alt="node logo"/>
      </div>
      <h3>Node JS</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <img src={{ '/images/react.svg' }} alt="react logo"/>
      </div>
      <h3>React JS</h3>
    </div>
  </div>
</section>
<section class="section__link">
  <div class="container">
    <div class="section__item">
      <div class="icon__container">
        <a href="www.github.com"
          ><img src={{ '/images/github.svg' }} alt="github logo"/></a
        >
      </div>
      <h3>Github</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <a href="www.linkedin.com"
          ><img src={{ '/images/linkedin.svg' }} alt="linkedin logo"/></a
        >
      </div>
      <h3>Linkedin</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <a href="www.twitter.com"
          ><img src={{ '/images/twitter.svg' }} alt="twitter logo"/></a
        >
      </div>
      <h3>Twitter</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <a href="www.facebook.com"
          ><img src={{ '/images/facebook.svg' }} alt="facebook logo"/></a
        >
      </div>
      <h3>Facebook</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <a href="www.dribbble.com"
          ><img src={{ '/images/dribbble.svg' }} alt="dribbble logo"/></a
        >
      </div>
      <h3>Dribbble</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <a href="www.instagram.com"
          ><img src={{ '/images/instagram.svg' }} alt="instagram logo"/></a
        >
      </div>
      <h3>Instagram</h3>
    </div>
    <div class="section__item">
      <div class="icon__container">
        <a href="www.reddit.com"
          ><img src={{ '/images/reddit.svg' }} alt="reddit logo"/></a
        >
      </div>
      <h3>Reddit</h3>
    </div>
  </div>
</section>
